* {
  margin: 0;
  padding: 0;
}

.contenedor {
  background-color: black;
}

/* imagen header celular */
header {
  background-color: rgb(134, 34, 195);
  background: linear-gradient(0deg, rgb(134, 34, 195) 0%, rgb(253, 45, 168) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header h1 {
  font-size: 30px;
  text-align: center;
}
header nav {
  background-color: rgb(134, 34, 195);
  background: linear-gradient(0deg, rgb(134, 34, 195) 0%, rgb(253, 45, 168) 100%);
}
header nav .navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

/* main index celular */
.divInicio {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}
.divInicio .imagenPersonal {
  width: 80px;
  border-radius: 150px;
  border: 3px solid rgb(134, 34, 195);
  justify-self: center;
}
.divInicio article .presentacion {
  padding: 5px;
  text-indent: 3px;
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  text-align: justify;
  margin: 5px;
}

.hobbies {
  padding: 5px;
  text-indent: 3px;
  color: aquamarine;
  font-weight: bold;
  font-size: 15px;
  text-align: justify;
  margin: 5px;
}

.carousel-inner {
  width: 300px;
  height: 200px;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-inner .carousel-item {
  margin: 0;
}
.carousel-inner .carousel-item img {
  width: 300px;
  height: 200px;
}

/* estudios celular */
.estudios {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 10px;
  text-align: left;
  justify-content: space-evenly;
  width: 95%;
}
.estudios .carreras {
  padding: 3%;
  width: 95%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: justify;
  text-justify: center;
  padding: 5px;
  margin: 5px;
  background-color: rgb(63, 16, 107);
}
.estudios .carreras .logo_estudios {
  width: 70px;
  height: 70px;
  border-color: black;
}
.estudios .carreras p {
  color: aquamarine;
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

/* proyectos celular */
.main_proyectos {
  background-color: black;
}
.main_proyectos .accordion {
  padding: 15px;
  margin: 15px;
  width: 90%;
  position: relative;
}
.main_proyectos .accordion button {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.main_exp_lab {
  width: 95%;
  padding: 2%;
  margin: 2%;
}

.flip-card {
  margin: 2%;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.flip-card .flip-card-inner {
  position: relative;
  width: 300px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card .flip-card-inner:hover {
  transform: rotateY(180deg);
}
.flip-card .flip-card-inner .flip-card-front, .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 300px;
  height: 200px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card .flip-card-inner .flip-card-front img, .flip-card .flip-card-inner .flip-card-back img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  border-color: black;
}
.flip-card .flip-card-inner .flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card .flip-card-inner .flip-card-back {
  background-color: blueviolet;
  color: white;
  transform: rotateY(180deg);
}

/* formulario de contacto celular */
.formularioDContacto {
  width: 95%;
  font-size: 15px;
  font-weight: bold;
  color: aqua;
}
.formularioDContacto button {
  background-color: aqua;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
}

/* section musica celular */
.musica {
  background-color: rgb(134, 34, 195);
  background: linear-gradient(0deg, rgb(134, 34, 195) 0%, rgb(253, 45, 168) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.musica p {
  color: aliceblue;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 90%;
}

/* logo ws celular */
.ws_logo {
  z-index: initial;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 400px;
  left: 20px;
}

.mapa_contacto {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes_footer {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}
.redes_footer .logos {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 7px;
  border-color: black;
}

@media only screen and (min-width: 768px) {
  /* logo ws para tablet */
  .ws_logo {
    left: 30px;
  }
  /* footer para tablet */
  .redes_footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
  }
  .main_contacto {
    padding: 50px;
  }
  .hobbies {
    padding: 5px;
    text-indent: 3px;
    color: aquamarine;
    font-weight: bold;
    font-size: 25px;
    text-align: justify;
    margin: 5px;
  }
  .carousel-inner {
    width: 600px;
    height: 400px;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .carousel-inner .carousel-item {
    margin: 0;
    justify-items: center;
  }
  .carousel-inner .carousel-item img {
    width: 600px;
    height: 400px;
  }
  .carousel-inner .carousel-item .d-none {
    background-color: aquamarine;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .carousel-inner .carousel-item .d-none h5 {
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
  .carousel-inner .carousel-item .d-none p {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }
  /* mapa para tablet*/
  .mapa_contacto {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flip-card {
    margin: 5px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  .flip-card .flip-card-inner {
    position: relative;
    width: 300px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card .flip-card-inner:hover {
    transform: rotateY(180deg);
  }
  .flip-card .flip-card-inner .flip-card-front, .flip-card .flip-card-inner .flip-card-back {
    position: absolute;
    width: 300px;
    height: 200px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card .flip-card-inner .flip-card-front img, .flip-card .flip-card-inner .flip-card-back img {
    width: 300px;
    height: 200px;
    border-radius: 6px;
    border-color: black;
  }
  .flip-card .flip-card-inner .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card .flip-card-inner .flip-card-back {
    background-color: rgb(134, 34, 195);
    color: white;
    transform: rotateY(180deg);
  }
  .main_proyectos {
    background-color: black;
  }
  .main_proyectos .accordion {
    padding: 50px;
    margin: 50px;
  }
  .main_proyectos .accordion button {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1020px) {
  .contenedor {
    background-color: black;
  }
  /* imagen header */
  header {
    background: rgb(134, 34, 195);
    background: linear-gradient(0deg, rgb(134, 34, 195) 0%, rgb(253, 45, 168) 100%);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    /* titulo */
  }
  header h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: aquamarine;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: color 0.5s ease;
  }
  header .navbar {
    background: rgb(134, 34, 195);
    background: linear-gradient(0deg, rgb(134, 34, 195) 0%, rgb(253, 45, 168) 100%);
  }
  header .navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
  }
  header .navbar .navbar-brand:hover {
    color: aqua;
  }
  header .navbar .navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  /* navegador */
  /* main index */
  .divInicio {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .divInicio .imagenPersonal {
    height: 400px;
    width: 300px;
    border-radius: 150px;
    border: 5px solid rgb(134, 34, 195);
  }
  .divInicio article .presentacion {
    text-indent: 3px;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
    line-height: 95%;
    text-align: justify;
    margin: 10px;
  }
  .hobbies {
    padding: 5px;
    text-indent: 3px;
    color: aquamarine;
    font-weight: bold;
    font-size: 25px;
    text-align: justify;
    margin: 5px;
  }
  .carousel-inner {
    width: 600px;
    height: 400px;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .carousel-inner .carousel-item {
    margin: 0;
    justify-items: center;
  }
  .carousel-inner .carousel-item img {
    width: 600px;
    height: 400px;
  }
  .carousel-inner .carousel-item .d-none {
    background-color: aquamarine;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .carousel-inner .carousel-item .d-none h5 {
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
  .carousel-inner .carousel-item .d-none p {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }
  /* formulario de contacto*/
  .main_contacto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_contacto .formularioDContacto {
    width: 95%;
    font-size: 20px;
    color: aqua;
    font-weight: bold;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_contacto .formularioDContacto button {
    background-color: aqua;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  /* mapa */
  .mapa_contacto {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* section musica */
  .musica {
    background: rgb(134, 34, 195);
    background: linear-gradient(0deg, rgb(134, 34, 195) 0%, rgb(253, 45, 168) 100%);
    height: 200px;
    align-items: center;
    padding: 10px;
  }
  .musica p {
    color: black;
    font-size: 20px;
    text-align: justify;
  }
  /* main estudios */
  .estudios {
    padding: 1rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
  }
  .estudios .carreras {
    height: 150px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(134, 34, 195);
  }
  .estudios .carreras .logo_estudios {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    border-color: black;
  }
  .estudios .carreras p {
    color: aquamarine;
    font-size: 20px;
    font-weight: bold;
    margin: 2%;
  }
  .main_exp_lab {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    justify-content: space-around;
    padding: 2%;
  }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  .flip-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card .flip-card-inner:hover {
    transform: rotateY(180deg);
  }
  .flip-card .flip-card-inner .flip-card-front, .flip-card .flip-card-inner .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card .flip-card-inner .flip-card-front img, .flip-card .flip-card-inner .flip-card-back img {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    border-color: black;
  }
  .flip-card .flip-card-inner .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card .flip-card-inner .flip-card-back {
    background-color: rgb(134, 34, 195);
    color: white;
    transform: rotateY(180deg);
  }
  .main_proyectos {
    background-color: black;
  }
  .main_proyectos .accordion {
    padding: 50px;
    margin: 50px;
  }
  .main_proyectos .accordion button {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  /* footer */
  .redes_footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
  }
  .redes_footer .logos {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border-color: black;
  }
  /* logo ws */
  .ws_logo {
    z-index: initial;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 500px;
    left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
