/* main index celular */
@use './variables';
.divInicio{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    .imagenPersonal {
        width: 80px;
        border-radius: 150px;
        border: 3px solid variables.$color_general;
        justify-self: center;
    }
    article{
        .presentacion{
            padding: 5px;
            text-indent: 3px;
            color: aliceblue;
            font-weight: bold;
            font-size: 15px;
            text-align: justify;
            margin: 5px;
        }
    }
}


.hobbies{
    padding: 5px;
    text-indent: 3px;
    color: aquamarine;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    margin: 5px;
}
.carousel-inner{
    width: 300px;
    height: 200px;
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    img{
        width: 300px;
        height: 200px;
    }
}
/* estudios celular */
.estudios{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    text-align: left;
    justify-content: space-evenly;
    width: 95%;
    .carreras{
        padding: 3%;
        width: 95%;
        height: 70px;
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: justify;
        text-justify: center;
        padding: 5px;
        margin: 5px;
        background-color: rgb(63, 16, 107);
        .logo_estudios{
            width: 70px;
            height: 70px;
            border-color: black;
        }
        p{
            color: aquamarine;
            font-size: 10px;
            font-weight: bold;
            margin: 5px;
            padding: 5px;
        }
    }
}
/* proyectos celular */
.accordion{
    width: 90%;
    margin: 10px;
    position:relative;
}


// main Experiencia Laboral
.main_exp_lab{
    width: 95%;
    padding: 2%;
    margin: 2%;
}
.flip-card {
    margin: 2%;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    .flip-card-inner {
        position: relative;
        width: 300px;
        height: 200px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
            &:hover{
                transform: rotateY(180deg);
            }
        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 300px;
            height: 200px;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            img{
                width: 300px;
                height: 200px;
                border-radius: 6px;
                border-color: black;
            }
        }
        .flip-card-front {
            background-color: #bbb;
            color: black;
        }
        .flip-card-back {
            background-color: blueviolet;
            color: white;
            transform: rotateY(180deg);
        }
    }
}
/* formulario de contacto celular */
.formularioDContacto{
    width: 95%;
    font-size: 15px;
    font-weight: bold;
    color: aqua;
    
}